<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.wurikiji.flutter_package_manager">

    <!-- https://blog.csdn.net/u010844304/article/details/111044338 Android11 应用可见性限制 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
</manifest>
